body {
	background-image: url('background');
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 40px;
	margin-bottom: 20px;
}

input[type="text"] {
	padding: 10px;
	border-radius: 5px;
	width: 300px;
	margin-bottom: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	background: rgba(255,255,255, 0.7);
}

thead {
	background-color: #e60012;
  color: #fff;
}

th, td {
	padding: 10px;
	border: 1px solid #ccc;
}

th {
	text-align: left;
}

tr:nth-child(even) {
	background-color: #E6E6E6;
}

button[type="submit"] {
  font-size: 15px;
  background-color: #e60012;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

button[type="submit"]:hover {
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-device-width: 800px) {
  body {
    background-image: url('background');
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position-y: 3vh;
  }
}